/* Fonts */

@font-face {
    font-family: 'Open Sans';
    src: url('Fonts/OpenSans-Light-webfont.eot');
    src: url('Fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('Fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('Fonts/OpenSans-Light-webfont.svg#open_sanssemibold') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('Fonts/OpenSans-Regular-webfont.eot');
    src: url('Fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('Fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('Fonts/OpenSans-Regular-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('Fonts/OpenSans-SemiBold-webfont.eot');
    src: url('Fonts/OpenSans-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/OpenSans-SemiBold-webfont.woff') format('woff'),
         url('Fonts/OpenSans-SemiBold-webfont.ttf') format('truetype'),
         url('Fonts/OpenSans-SemiBold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('Fonts/OpenSans-Bold-webfont.eot');
    src: url('Fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('Fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('Fonts/OpenSans-Bold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('Fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('Fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('Fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('Fonts/OpenSans-ExtraBold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: 900;
    font-style: normal;
}

/* Animations */
@keyframes page-forward-in {
    from {
        transform: translate3d(0px, 100%, 0px);
    }
    to {
        transform: translate3d(0px, 0px, 0px);
    }
}

.animation-page-forward-in {
    animation-name: page-forward-in;
    animation-duration: 500ms;
    animation-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

@keyframes page-forward-out {
    from {
        transform: translate3d(0px, 0px, 0px);
    }
    to {
        transform: translate3d(0px, -100%, 0px);
    }
}

.animation-page-forward-out {
    animation-name: page-forward-out;
    animation-duration: 500ms;
    animation-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

/* Common styles */
body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}