<template id="bv-player">
    <!-- inject:css -->
    <!-- endinject -->
    <video autoplay="autoplay" src="Images/DemoVideo.mp4"></video>
    <div class="controls">
        <bv-backbutton></bv-backbutton>
        <div class="details">
            <img class="button" src="Images/PlayIcon.svg" alt="Play / Pause" />
            <div class="title">{{title}}</div>
            <div class="sub">{{currentTimeTimecode}} / {{durationTimecode}}</div>
            <div class="progress"><div class="inner"></div></div>
        </div>
    </div>
</template>