/* Animations */
@keyframes dimmer-fade-in {
    from {
        opacity: 0;
    }
}

.animation-dimmer-fade-in {
    animation-name: dimmer-fade-in;
    animation-duration: 250ms;
    animation-timing-function: ease-out;
}

@keyframes dimmer-fade-out {
    to {
        opacity: 0;
    }
}

.animation-dimmer-fade-out {
    animation-name: dimmer-fade-out;
    animation-duration: 250ms;
    animation-timing-function: ease-out;
}

@keyframes pane-enter {
    from {
        transform: translateX(360px);
    }
}

.animation-pane-enter {
    animation-name: pane-enter;
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

@keyframes pane-exit {
    to {
        transform: translateX(360px);
    }
}

.animation-pane-exit {
    animation-name: pane-exit;
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

@keyframes pane-switch-out {
    to {
        opacity: 0;
        transform: translateZ(-100px);
    }
}

.animation-pane-switch-out {
    animation-name: pane-switch-out;
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

@keyframes pane-switch-in {
    from {
        opacity: 0;
        transform: translateZ(-100px);
    }
}

.animation-pane-switch-in {
    animation-name: pane-switch-in;
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

/* Styles */
:host {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
}
h1 {
    font-size: 64px;
    text-transform: lowercase;
    font-weight: 100;
    margin: 0;
    line-height: 1;
}
.dimmer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    cursor: pointer;
}
.pane {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 360px;
    background-color: #fff;
    color: #000;
    padding: 24px;
    box-sizing: border-box;
    perspective: 1000px;
}
.paneContent {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 24px;
}
p {
    color: rgba(0, 0, 0, 0.5);
    a {
        color: rgba(0, 0, 0, 0.5);
        &:hover {
            color: #000;
        }
    }
}
input {
    width: 100%;
    margin: 24px 0;
    display: block;
    font-size: 22px;
    padding: 8px 16px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    background-color: transparent;
    font-family: "Open Sans";
    font-weight: normal;
    color: #000;
    transition: color 200ms ease-out, background-color 200ms ease-out;
    
    &:focus {
        border-color: rgba(0, 0, 0, 1);
        color: #000;
    }
}


button.check {
    display: block;
    padding: 0;
    margin: 0 auto;
    background: transparent;
    border: none;
}